{% extends 'index.html' %}

{% block css %}
    .active2{
    background-color: #00aaf1
    }
{% endblock %}


{% block content %}
    <div class="col-md-12 graphs" >
	   <div class="xs">
  	<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>回复数</th>
            <th>阅读数</th>
            <th>关键词</th>
            <th>发帖时间</th>
            <th>来源</th>
        </tr>
      </thead>
        <tbody class="fl-table">
            {% for row in new_list %}
            <tr>
                <th width="100" align="center" scope="row">{{row.id}}</th>
                <td><a href="{{row.url}}"  target="_blank" style=" cursor: pointer">{{row.title}}</a></td>
                <td width="100" align="center">{{row.hf}}</td>
                <td width="100" align="center">{{row.ck}}</td>
                <td width="100">{{row.gjc}}</td>
                <td width="200" align="center">{{row.publish_time}}</td>
                <td width="100" align="center">{{row.ly}}</td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}