
<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<!-- Custom CSS -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/css/lines.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"> 
<!-- jQuery -->
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!---//webfonts--->  
<!-- Nav CSS -->
<link href="/static/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="/static/js/metisMenu.min.js"></script>
<script src="/static/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/rickshaw.js"></script>
    <style>
        .login-body{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    </style>
</head>
<body class="login-body">

     <!-- Navigation -->
    <div class="graphs" style="height: 100%">
        <div class="col_3" style="height: 200px">
            <div href="/yuqing/yu_list/" class="col-md-3 widget widget1" style="height: 200px">
                <div class="r3_counter_box"style="height: 200px">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                      <a href="/yuqing/yu_list/" style="font-size: 30px"><strong>舆情查询</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1" style="height: 200px">
                <div class="r3_counter_box"style="height: 200px">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>热线管理</strong></h5>

                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1" style="height: 200px">
                <div class="r3_counter_box"style="height: 200px">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>人事管理</strong></h5>

                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1" style="height: 200px">
                <div class="r3_counter_box"style="height: 200px">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>舆情查询</strong></h5>
                      <span>New Orders</span>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div><img src="/static/images/11.jpg" style="position:absolute;bottom:0px;margin-top:20px; width: 96.5%;height:540px"></div>
        </div>
    </div>

      <!-- /#page-wrapper -->

    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
</body>
</html>
